<h1>Dashboard</h1>
<div class="dashboard">
<h3><%= link_to 'Products Available: ', [:admin, :products]%><%= @products_count %></h3>
<h3><%= link_to 'Categories Available: ', [:admin, :products]%><%= @categories_count %></h3>
</div>